@keyframes Scroll {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

// @keyframes ScrollCircle {
//   0% {
//     border-top: 1px solid $blanc;
//   }
//   33% {
//     border-right: 1px solid $blanc;
//   }
//   66% {
//     border-bottom: 1px solid $blanc;
//   }
//   100% {
//     border-left: 1px solid $blanc;
//   }
// }
